@import "./../../styles/contants.scss";

.wrapper {
  @media (max-width: $md) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  background-color: white;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.sideContainer {
    @media (max-width: $md) {
      display: none;
    }
    background-image: url("./purchase_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    img {
      position: absolute;
      max-width: 55%;
      height: 50%;
      left: 10%;
      bottom: 3%;
    }
  }
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .textSeparator {
      width: 450px;
      height: 4px;
      background-color: #ffda88;
      margin: 24px;
    }
    #welcomeMsg {
      text-align: center;
      font-size: 1.1em;
      line-height: 28px;
      margin-bottom: 30px;
    }

    .loginForm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 200px;
      margin-top: 20px;
      position: relative;
      form {
        section {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .userDiv {
            margin-bottom: 8px;
            position: relative;
            .lottieCont {
              height: 64px;
              width: 64px;
              margin-left: 70px;
            }
            .userIcon {
              position: absolute;
              left: 14px;
              top: 45%;
              transform: translateY(-50%);
              color: #333;
            }
          }
          .passDiv {
            position: relative;
            .passwordIcon {
              position: absolute;
              left: 14px;
              top: 50%;
              transform: translateY(-50%);
              color: #333;
            }
          }
          input {
            width: 100%;
            background: #e6e6e6;
            color: #333;
            border-style: none;
            letter-spacing: 0.5px;
            padding: 14px 64px;
          }
          .btnContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            button {
              width: 50%;
              border-style: none;
              color: #0d2f3f;
              padding: 14px 64px;
              margin: 32px auto;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                opacity: 0.6;
              }
            }
          }
          .loginSubmit {
            width: 100%;
            border-style: none;
            color: #0d2f3f;
            padding: 14px 64px;
            margin: 32px auto;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            background-color: #ffda88;
            cursor: pointer;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
