@import "./../../styles/contants.scss";

.wrapper {
  @media (max-width: $sm) {
  }
  height: 100vh;
  background-color: white;
  .container {
    @media (max-width: $sm) {
      justify-content: center;
      align-items: center;
    }
    display: flex;
    justify-content: space-between;
    height: 100vh;
    .leftContainer {
      @media (max-width: $sm) {
        display: none;
      }
      width: 20%;
      background-color: #ffda88;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: 30rem;
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
    .rightContainer {
      @media (max-width: $sm) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
      width: 80%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .upperElement {
        @media (max-width: $sm) {
          height: 100vh;
          width: 100%;
        }
        height: 40%;
        width: 100%;
        .dataWrapper {
          @media (max-width: $sm) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
          }
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .amountCont {
            @media (max-width: $sm) {
              width: 410px;
              left: 22%;
              margin-top: 400px;
            }
            height: 310px;
            width: 510px;
            left: 22%;
            top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../coverage_amount.png");
            background-repeat: no-repeat;
            background-size: 100%;
            p {
              @media (max-width: $sm) {
                color: #252525;
              }
              color: #ffda88;
            }
          }
          .spentCont {
            @media (max-width: $sm) {
              width: 410px;
              left: 22%;
            }
            height: 310px;
            width: 510px;
            left: 47%;
            top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../coverage_spent.png");
            background-repeat: no-repeat;
            background-size: 100%;
            p {
              @media (max-width: $sm) {
                color: #252525;
              }
              color: #ff788d;
            }
          }
          .leftCont {
            @media (max-width: $sm) {
              width: 410px;
              left: 22%;
            }
            height: 310px;
            width: 510px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 72%;
            top: 5%;
            background-image: url("../coverage_left.png");
            background-repeat: no-repeat;
            background-size: 100%;
            p {
              @media (max-width: $sm) {
                color: #252525;
              }
              color: #6f69dc;
            }
          }
        }
      }
      .lowerElement {
        height: 60%;
        width: 100%;
        @media (max-width: $sm) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
        }
        .innerUpperElement {
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
        }
        .innerLowerElement {
          height: 85%;
          display: flex;
          justify-content: space-between;
          @media (max-width: $sm) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .leftElement {
            @media (max-width: $sm) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            > img {
              border-radius: 20px;
              max-width: 25rem;
              max-height: 22rem;
              box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
              cursor: pointer;
            }
          }
          .rightElement {
            @media (max-width: $sm) {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .packageDetail {
              @media (max-width: $sm) {
                background-size: 0%;
              }
              margin-left: -50px;
              width: 800px;
              height: 350px;
              background-image: url("../db_packagedetail.png");
              background-repeat: no-repeat;
              background-size: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              position: relative;
              .currentUserDetail {
                @media (max-width: $sm) {
                  left: 20%;
                }
                top: 10%;
                margin-left: 80px;
                position: absolute;
                p {
                  line-height: 2rem;
                  span {
                    margin-right: 10px;
                  }
                }
              }
              .userPackageDetail {
                margin-top: 30px;
                @media (max-width: $sm) {
                  left: 20%;
                }
                margin-left: 80px;
                position: absolute;
                top: 40%;
                p {
                  line-height: 2rem;
                }
                span {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .covLabel {
    color: #0d2f3f;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .covData {
    font-size: 3rem;
    margin-top: 3.5rem;
  }
}
